@model IEnumerable<CodeFirst.Models.M_CampTypes>

@{
    ViewBag.Title = "Index";
}
<div id="page-wrapper">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CTId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CTId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CTId })
                </td>
            </tr>
        }

    </table>
</div>